.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  align-content: start;
  gap: 20px;
  justify-items: center;
  margin: 0 auto;
}

.card {
  padding: 1rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  height: fit-content;
  background: #fff;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.cardcontent {
  display: flex;
  flex-direction: column;
  align-items: center
}

.newsimg {
  height: 200px;
  width: auto; /* allows natural width */
  max-width: 100%; /* prevents overflow */
  display: block;
  margin: 0 auto; /* center image horizontally within card */
  object-fit: contain; /* ensures full image is visible */
  border-radius: 10px;
}


.imgtitle {
  display: block;
  width: 250px;         /* fixed width of 250px */
  white-space: nowrap;  /* keeps text on a single line */
  overflow: hidden;     /* hides overflow */
  text-overflow: ellipsis; /* shows '...' when text overflows */
  margin: 8px auto 0 auto;
  font-size: 1rem;
  text-align: center;
}

.logo {
  height: 1em;
  margin-left: 0.2rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.navbar {
  background: #0070f3;
  padding: 1rem;
  width: 100%;
}

.navbar ul {
  display: flex;
  list-style: none;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

.navbar li {
  margin: 0 1rem;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.navbar a:hover {
  text-decoration: underline;
}
